.body
{
    background-image: url("ruka.jpg");
}
.login {
  background: #f9f9f9bd;
  border: 3px solid #4b4842;
  border-radius: 8px;
  height: 257px;
  margin: 40px auto 0;
  width: 298px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.658), 0 5px 5px 0 rgba(15, 2, 2, 0.24);
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px 10px 10px 75px;
    border: none;
    cursor: pointer;
    width: 50%;
  }

input[type="password"], input[type="text"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 37px;

  width: 240px;
}


input[type="checkbox"]:checked + .toggle { background-position: 0 -16px }
.forgot {
  color: white;
  background-color: rgba(128, 128, 128, 0.774) ;
  border: 3px;
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
  float: right;
  font: 12px/1 sans-serif;
  left: -19px;
  position: relative;
  text-decoration: none;
  top: 10px;
  transition: color .4s;
}


.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 12px;
  margin: 30px auto;
  opacity: 0.2;
  width: 270px;
}

.log_info
{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.bg
{
    background-image: url("ruka.jpg");
    position: relative;
    height: 100%;
    width: 100%;
    background-position: unset;
    background-size: cover;
}